.education {
  li {
    margin-top: 1.87rem;
  }

  time {
    font-size: .75rem;
    color: $gunmetal;
  }

  .school {
    font-size: .95rem;
    color: $silver;
  }

  .major {
    font-size: .85rem;
    color: $yankees_blue;
  }
}