.info {
    .avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        box-shadow: 0 0 0 0.25rem $white_smoke, 0 0 0 0.25rem #999, 0 0.125rem 0.25rem 0.25rem rgba(0, 0, 0, .2);
        margin: 1.5rem auto;
        background: url('../images/wuchong.png') center;
        background-size: cover;
    }

    .name {
        font-size: 2.5rem;
        font-weight: bold;
        color: $yankees_blue;
    }

    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $gunmetal;
    }

    .contacts {
        color: $silver;
        font-size: 1rem;
        font-weight: bolder;
        margin-top: 1rem;

        .contact {
            display: inline-block;
            position: relative;
            @media screen and (max-width: $screen-phone) {
                margin-right: 0.5rem;
            }
        }

        .icon-wechat {
            .wechat {
                display: none;
            }

            &:hover {
                cursor: pointer;

                .wechat {
                    position: absolute;
                    top: -5.1rem;
                    right: -1.75rem;

                    display: inline-block;
                    width: 4.5rem;
                    height: 4.5rem;
                    background: url("../images/wechat.png") no-repeat;
                    background-size: cover;
                    border: 0.1rem solid #000;

                    &::after,
                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                    }

                    &:before {
                        bottom: -1rem;
                        right: 1.75rem;
                        border: 0.5rem transparent solid;
                        border-top-color: #000;
                    }

                    &::after {
                        bottom: -0.75rem;
                        right: 1.85rem;
                        border: 0.4rem transparent solid;
                        border-top-color: #fff;
                    }
                }
            }
        }
    }

    .pdf {
        display: inline-block;
        margin-top: 4rem;

        font-size: .6rem;
        color: $yankees_blue;
        text-decoration: underline;
    }
}
