$gunmetal: #2E3338;
$gray: #888888;
$silver: #727582;
$white_smoke: #F4F7F9;
$yankees_blue: #14213D;
$deep-space-sparkle: #4C5C68;

// Extra screen phone
$screen-phone: 480px;

// Extra screen tablets
$screen-tablet: 768px;